# Visual Studio and .NET build artifacts
bin/
obj/
*.pdb
*.suo
*.user
*.bak
*.vspscc
*.vssscc
*.tmp
*.log
*.cache

node_modules/
bower_components/
dist/
wwwroot/lib/

.git/
.gitignore
.gitattributes

Dockerfile
docker-compose.yml
docker-compose.*.yml

Thumbs.db
.DS_Store
.vscode